/* ===================================================================FONTS */
@font-face {
    font-family: GothaProNarMed;
    src: url(../fonts/GothaProNarMed.otf);
}

@font-face {
    font-family: GothaProBold;
    src: url(../fonts/GothamPro-Bold.ttf);
}

@font-face {
    font-family: GothamProBlack;
    src: url(../fonts/GothamProBlack.ttf);
}

@font-face {
    font-family: GothamProLight;
    src: url(../fonts/GothamPro-Light.ttf);
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro.ttf);
}

@font-face {
    font-family: AkrobatBold;
    src: url(../fonts/Akrobat_Bold.ttf);
}

@font-face {
    font-family: AkrobatLight;
    src: url(../fonts/Akrobat_Light.ttf);
}

@font-face {
    font-family: AkrobatRegular;
    src: url(../fonts/Akrobat.ttf);
}

@font-face {
    font-family: AkrobatSemiBold;
    src: url(../fonts/Akrobat_Semi_Bold.ttf);
}

@font-face {
    font-family: akrobat-black;
    src: url(../fonts/akrobat-black.otf);
}


/* ===================================================================FONTS END */

/* ===================================================================GENERAL */
body * {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #141c2f;
}

p {
    margin-top: 0;
}

.el-center {
    text-align: center;
}

.el-right {
    text-align: right;
}

.circh3 {
    font-family: GothaProNarMed;
    color: #141c2f;
    font-size: 71px;
    background-color: #dab544;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: inline-block;
    /* padding: 6px 42px; */
    padding: 6px 25px;
    margin: 0;
    text-transform: uppercase;
}

.genh3,
h3:not(.circh3) {
    font-family: GothaProNarMed;
    color: #dab544;
    font-size: 71px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
    outline: none;
}

.generallist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



/* ===================================================================GENERAL END*/

/*  ===================================================================HEADER */
header.header {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 0 100px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo a img {
    max-width: 300px;
}

.header__nav ul li {
    display: inline-block;
    position: relative;
}

.header__nav ul li:after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 0;
    left: 0;
    bottom: -13px;
    position: absolute;
    background-color: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    right: 0;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    background: #fff;
}

.header__nav ul li.active:after {
    width: 100%;
    overflow: initial;
}

.header__nav ul li:hover:after {
    width: 100%;
    overflow: initial;
}

.header__nav ul li:not(:last-child) {
    margin-right: 75px;
}

.header__nav ul li a {
    font-family: GothaProNarMed;
    font-size: 28px;
    color: #c49c50;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header__nav ul li.active a,
.header__nav ul li a:hover {
    color: #fff;
}

/*  ===================================================================HEADER END*/

/*  ===================================================================MAINSLIDER */
.mainslider,
.mainvideo {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.maintopslider,
.maintopslider .slick-slide {
    height: 100vh;
}

#mainvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
}

.maintopslider .maintopslider__slide>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mainslider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: .5;
}

.mainslider__shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(20, 28, 47, 0) 0%, rgba(20, 28, 47, 1) 100%);
    height: 100%;
    z-index: 1;
}

.slider__title {
    font-size: 87px;
    color: #fff;
    font-family: GothaProBold;
    position: relative;
    z-index: 1;
    margin: 0;
    text-transform: uppercase;
}

.maintopslider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mainslider .slick-slide .slider__title {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.mainslider .slick-slide.slick-current .slider__title {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 1;
}

/*  ===================================================================MAINSLIDER END */

/*  ===================================================================NEWS */
.news {
    padding: 130px 0 80px 0;
}

.news h3 {
    margin-bottom: 80px;
}

.new__picblock {
    position: relative;
    padding-right: 15%;
}

.mark-news,
.mark-newstop {
    position: absolute;
}


.new__textblock {
    padding-right: 15%;
}

.new__picblock .newsgenpic {
    overflow: hidden;
    height: 370px;
    width: 100%;
}

.new__picblock .newsgenpic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.new__picblock:hover .newsgenpic img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.new__textblock .date {
    font-family: AkrobatBold;
    font-size: 24px;
    color: #fff;
    margin: 0 0 36px 0;
    line-height: 1;
}

.new__textblock .title {
    font-family: GothaProNarMed;
    color: #dab544;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 60px 0;
    display: block;
}

.new__textblock .descr {
    margin: 0 0 47px 0;
    font-family: AkrobatBold;
    font-size: 18px;
    color: #fff;
}

.new__textblock .readmore {
    font-family: GothaProNarMed;
    font-size: 20px;
    color: #dab544;
    display: inline-flex;
    height: 40px;
    width: 160px;
    border: 3px solid #dab544;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.new__textblock .readmore:hover {
    background-color: #dab544;
    color: #141c2f;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.mark-news {
    width: 120px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -9px;
    background-image: url(../image/mark.png);
    background-size: 100% 100%;
}

.mark-newstop {
    width: 120px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 3px;
    right: -9px;
    background-image: url(../image/mark-reverse.png);
    background-size: 100% 100%;
    text-align: right;
}

.mark-news span {
    font-family: GothamProBlack;
    color: #141c2f;
    font-size: 24px;
    text-transform: uppercase;
    top: 4px;
    position: relative;
    padding-left: 16px;
}

.mark-newstop span {
    font-family: GothamProBlack;
    color: #141c2f;
    font-size: 24px;
    text-transform: uppercase;
    top: 4px;
    position: relative;
    padding-right: 16px;
}

.newsection .colwrap:not(:last-child) {
    margin-bottom: 100px;
}

.newsection .colwrap:nth-child(even) .col50:first-child {
    order: 2;
}

.newsection .colwrap:nth-child(even) .col50:nth-child(2) {
    order: 1;
}

.newsection .colwrap:nth-child(even) .new__picblock {
    padding-right: 0;
    padding-left: 15%;
}

.newsection .colwrap:nth-child(even) .new__textblock {
    text-align: right;
    padding-right: 0;
    padding-left: 15%;
}


/*  ===================================================================NEWS END */

/*  ===================================================================ABOUT */
.about {
    padding: 80px 0 280px 0;
}

.about h3 {
    margin-bottom: 75px;
}

.about__picblock {
    height: 625px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__picblock>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    opacity: 55%;
}

.about__picblock p {
    padding: 0 100px;
    margin: 0;
    font-family: GothamProBlack;
    color: #fff;
    font-size: 25px;
    position: relative;
    text-transform: uppercase;
    text-align: justify;
}

.about__linetexts {
    padding: 210px 0 160px 0;
    position: relative;
}

.about__linetexts-top span,
.about__linetexts-bottom span {
    font-size: 48px;
    color: #dab544;
    font-family: GothamProBlack;
    display: inline-flex;
    width: 33.3333%;
    justify-content: center;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}



.about_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #dab544;
    padding-bottom: 100px;
    position: relative;
    max-width: 84%;
    width: 100%;
    position: relative;
}

.about__linetexts-top .about_cont {
    align-items: flex-end;
}

.about__linetexts-bottom .about_cont {
    align-items: flex-start;
}

.about__linetexts-bottom .about_cont {
    border: none;
}

.about__linetexts-bottom .about_cont {
    border: none;
    padding-bottom: 0;
    padding-top: 100px;
}

.about__linetexts-top span:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 62px;
    background-color: #dab544;
    position: absolute;
    bottom: -101px;
}

.about__linetexts-bottom span:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 62px;
    background-color: #dab544;
    position: absolute;
    top: -101px;
}

.about__linetexts-top {

    display: flex;
    justify-content: flex-end;
    /* padding-left: 300px; */
}

.about__linetexts-bottom {
    /* padding-right: 272px; */
    /* padding-left: 300px; */
    display: flex;
    justify-content: flex-end;
}

.about__linetexts-bottom span {
    transform: translateX(-49.4%);
    -webkit-transform: translateX(-49.4%);
    -moz-transform: translateX(-49.4%);
    -ms-transform: translateX(-49.4%);
    -o-transform: translateX(-49.4%);
}

.abvtext .subtitle {
    font-family: GothamProLight;
    font-size: 24px;
    color: #fefefe;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.abvtext .title {
    color: #dab544;
    font-size: 55px;
    font-family: AkrobatLight;
    margin: 0 0 87px 0;
    text-transform: uppercase;
    position: relative;
}

.abvtext .title:after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 112px;
    background-color: #dab544;
    position: absolute;
    left: 0;
    bottom: -38px;
}

.abvtext .descr p {
    font-family: GothamProLight;
    font-size: 18px;
    color: #fff;
    margin: 0 0 25px 0;
    line-height: 22px;
    text-align: justify;
}

.about__vertboxes .left {
    padding-right: 112px;
}

.about__vertboxes .right {
    padding-left: 112px;
}

.about__vertboxes .abvtext:not(:last-child) {
    margin-bottom: 155px;
}

.about__vertboxes .left .abvtext:first-child {
    margin-top: 235px;
}

.about__vertboxes .left:after {
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    right: -1.5px;
    bottom: 0;
    width: 3px;
    background-color: #dab544;
    height: calc(100% - 90px);
}

.about__vertboxes .left:before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 29px;
    position: absolute;
    bottom: -1px;
    right: -14px;
    background-color: #dab544;
}

.about__vertboxes .left .abvtext .subtitle {
    text-align: right;
}

.about__vertboxes .left .abvtext .title {
    display: inline-block;
}

.about__vertboxes .left .titlesbox {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.about__vertboxes .right .title:before,
.about__vertboxes .left .title:before {
    content: "";
    display: inline-block;
    height: 6px;
    background-color: #dab544;
    width: 60px;
    position: absolute;
    top: 50%;
}

.about__vertboxes .left .title:before {
    right: -112px;
}

.about__vertboxes .right .title:before {
    left: -112px;

}

/*  ===================================================================ABOUT END */
/* =================================================================== MAP */
.geograph-projlink {
    font-family: AkrobatRegular;
    color: #dab544;
    font-size: 74px;
    text-transform: uppercase;
    border: 5px solid #dab544;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: inline-block;
    padding: 15px 35px;
    margin-bottom: 170px;
}

.mapwrapper {
    width: 86%;
    margin: 0 auto;
}

.geograph-proj {
    margin-bottom: 70px;
}

/* =================================================================== MAP */

/* =================================================================== FOOTER */


.footer__topsect {
    border-top: 3px solid #dab544;
    border-bottom: 3px solid #dab544;
    padding: 65px 100px 0 100px;
}

.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 35px 0;
}

.footer__list li {
    padding-right: 15px;
    margin-bottom: 25px;
}

.footer__list li:last-child {
    margin-bottom: 0;
}

.footer__list li a {
    font-family: AkrobatSemiBold;
    color: #fefefe;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer__list li a:hover {
    opacity: .7;
}

.footer__list li:first-child a {
    color: #dab544;
    font-size: 64px;
}

.footer__topsect {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer__topsect .footer__box {
    position: relative;
    width: 100%;
}

.footer__topsect .footer__box:first-child {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.footer__topsect .footer__box:nth-child(2) {
    -ms-flex: 0 0 30.5%;
    flex: 0 0 30.5%;
    max-width: 30.5%;
}

.footer__topsect .footer__box:nth-child(3) {
    -ms-flex: 0 0 21.5%;
    flex: 0 0 21.5%;
    max-width: 21.5%;
}

.footer__topsect .footer__box:nth-child(4) {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
}

.footer__topsect .footer__box:nth-child(5) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.footer__bottsect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px;
}

.footer__bottsect>p,
.footer__bottsect>div {
    width: 33.33333%;
}

.footer__bottsect>div {
    text-align: right;
}

.footer__bottsect>div p {
    max-width: 280px;
    display: inline-block;
}

.footer__bottsect p,
.footer__bottsect p a {
    font-family: AkrobatSemiBold;
    font-size: 24px;
    color: #fefefe;
    margin: 0;
}

.footer__bottsect p a,
.footer__bottsect p span {
    display: block;
    text-align: center;

}

.scrollto {
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 80px;
    animation: change 2.5s infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: change 2.5s infinite;
}

@-webkit-keyframes change {
    0% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

@keyframes change {
    0% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}


.scrollto img {
    width: 80px;
    opacity: 1;
    height: auto;
    object-fit: contain;
    object-position: initial;
}


/* =================================================================== FOOTER END */

.phonemenu {
    display: none;
}

.slider__title {
    text-align: center;
}

.closemenu {
    display: none;
}

/* -- */
.mapwrapper {
    position: relative;
}

.mappop {
    position: absolute;
    background-color: #d9d9da;
    width: 150px;
    height: auto;
    display: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}

.mappop span {
    font-family: GothaProNarMed;
    text-align: center;
    display: block;
}

.mappop img {
    max-width: 100%;
}

.mappop[data-obl="simfer"] {
    left: 62%;
    top: 80%;
}

.mappop[data-obl="herson"] {
    right: 33%;
    top: 63%;
}

.mappop[data-obl="zapor"] {
    right: 21%;
    top: 55%;
}

.mappop[data-obl="donetsk"] {
    right: 11%;
    top: 45%;
}

.mappop[data-obl="lugansk"] {
    right: 5%;
    top: 34%;
}

.mappop[data-obl="harkiv"] {
    right: 18%;
    top: 27%;
}

.mappop[data-obl="dnepr"] {
    right: 27%;
    top: 42%;
}

.mappop[data-obl="mykolaiv"] {
    right: 42%;
    top: 55%;
}

.mappop[data-obl="odesa"] {
    right: 52%;
    top: 63%;
}

.mappop[data-obl="kirov"] {
    right: 40%;
    top: 42%;
}

.mappop[data-obl="poltava"] {
    right: 33%;
    top: 28%;
}

.mappop[data-obl="sumy"] {
    right: 31%;
    top: 11%;
}

.mappop[data-obl="chernigiv"] {
    right: 42%;
    top: 9%;
}

.mappop[data-obl="cherkasy"] {
    right: 45%;
    top: 33%;
}

.mappop[data-obl="kiiv"] {
    right: 49%;
    top: 22%;
}

.mappop[data-obl="vinn"] {
    right: 59%;
    top: 36%;
}

.mappop[data-obl="jitom"] {
    right: 60%;
    top: 17%;
}

.mappop[data-obl="hmel"] {
    left: 23%;
    top: 30%;
}

.mappop[data-obl="rivne"] {
    left: 21%;
    top: 12%;
}

.mappop[data-obl="lutsk"] {
    left: 14%;
    top: 9%;
}

.mappop[data-obl="ternop"] {
    left: 17%;
    top: 30%;
}

.mappop[data-obl="lviv"] {
    left: 8%;
    top: 25%;
}

.mappop[data-obl="ivanfr"] {
    left: 11%;
    top: 39%;
}

.mappop[data-obl="chernivci"] {
    left: 18%;
    top: 42%;
}

.mappop[data-obl="ujgorod"] {
    left: 4%;
    top: 40%;
}

text.countanim {
    color: #dab544;
    position: relative;
    left: initial;
    top: initial;
    text-align: right;
}

.header__nav ul li:first-child {
    display: none;
}

.preloader-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.prlogo {
    width: 100px;
}

.preloader-page {
    background-color: #2c2d44;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wave .loader {
    width: 100px;
    height: 100px;
}

.wave .loader>div {
    float: left;
    margin: 40% 2% 0 0;
    width: 4%;
    height: 16%;
    background-color: #c49c50;
    animation: wave 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) infinite;
}

.wave .loader .line-1 {
    margin-left: 30%;
}

.wave .loader .line-1 {
    animation-delay: 0.1s;
}

.wave .loader .line-2 {
    animation-delay: 0.2s;
}

.wave .loader .line-3 {
    animation-delay: 0.3s;
}

.wave .loader .line-4 {
    animation-delay: 0.4s;
}

.wave .loader .line-5 {
    animation-delay: 0.5s;
}

@keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
        -webkit-transform: scaleY(2);
        -moz-transform: scaleY(2);
        -ms-transform: scaleY(2);
        -o-transform: scaleY(2);
    }
}

@-webkit-keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
        -webkit-transform: scaleY(2);
        -moz-transform: scaleY(2);
        -ms-transform: scaleY(2);
        -o-transform: scaleY(2);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* COMPANY================================================================================== */
.company-firstscreen {
    height: calc(100vh + 310px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-firstscreen>img {
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.company-firstscreen>p {
    font-family: akrobat-black;
    margin: 0;
    color: #fff;
    font-size: 87px;
    position: relative;
    z-index: 3;
    margin-top: -300px;
}


.diract__titlebox .title,
.machinery h3,
.technology h3,
.company-project h3 {
    font-family: AkrobatBold;
    font-size: 52px;
    background-color: #f9c31f;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 150px 0;
    padding: 48px 0;
    color: #141c2f;
}

.diract__titlebox {
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-top: -305px;
    position: relative;
    z-index: 2;
    background-color: #141c2f;
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
}

.company-firstscreen .mainslider__shadow {
    background: linear-gradient(to top, rgba(20, 28, 47, 0) 0%, #141c2f);
}

.company__linetexts {
    position: relative;
    max-width: 84%;
    width: 100%;
    margin-bottom: 125px;
}

.company__linetexts .comp-linet__top {
    position: relative;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 120px;
}

.company__linetexts .comp-linet__bottom {
    position: relative;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 120px;
}

.company__linetexts .comp-linet__top:after {
    content: "";
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #f9c31f;
    position: absolute;
}

.comp-linet__text {
    font-family: AkrobatBold;
    text-transform: uppercase;
    font-size: 29px;
    color: #f9c31f;
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.comp-linet__text:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 96px;
    background-color: #f9c31f;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

.comp-linet__top .comp-linet__text:after {
    bottom: 0;
    margin-bottom: -118px;
}

.comp-linet__bottom .comp-linet__text:after {
    top: 0;
    margin-top: -123px;
}

.comp-linet__text p {
    margin: 0;
    width: 320px;
    margin: 0 auto;
}

.comp-linet__bottom .comp-linet__text {
    transform: translateX(49.6%);
    -webkit-transform: translateX(49.6%);
    -moz-transform: translateX(49.6%);
    -ms-transform: translateX(49.6%);
    -o-transform: translateX(49.6%);
}

.boxovhidd {
    overflow: hidden;
}

.company__posts {
    width: calc(100% - 200px);
    margin: 0 auto;
    max-width: 1715px;
}

.company__post {
    padding: 45px 90px 50px 90px;
    position: relative;
}

.company__post-pic {
    position: relative;
}

.company__post-pic .colorbox {
    height: 505px;
    width: calc(100% - 70px);
    background-color: #f9c31f;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.company__post-pic>a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.company__post-pic .picbox {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: calc(100% - 50px);
    height: 520px;
    margin-top: 50px;
}

.company__post-pic .picbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.company__post-pic a:hover .picbox img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.company__post-descr {
    padding-top: 40px;
}

.company__post-descr .title {
    font-family: AkrobatBold;
    color: #f9c31f;
    font-size: 38px;
    display: block;
    text-transform: uppercase;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 70px;
    height: 133px;
}

.company__post-descr .title:before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: #f9c31f;
    position: absolute;
    left: 0;
    bottom: 0;
}


.company__post-descr .descr {
    background-color: #878b95;
    border-radius: 10px 10px 30px 30px;
    -webkit-border-radius: 10px 10px 30px 30px;
    -moz-border-radius: 10px 10px 30px 30px;
    -ms-border-radius: 10px 10px 30px 30px;
    -o-border-radius: 10px 10px 30px 30px;
    padding: 20px 10px 20px 10px;
}

.company__post-descr .descr p {
    color: #141c2f;
    font-size: 24px;
    font-family: AkrobatSemiBold;
}

.company__post-descr .descr p:last-child {
    margin-bottom: 0;
}

.company__posts .company__post:nth-child(even) .col-lg-6 {
    order: 2;
}

.company__posts .company__post:nth-child(even) .col-lg-5 {
    order: 1;
}

.company__posts .company__post:nth-child(even) .company__post-pic .colorbox {
    left: initial;
    right: 0;
}

.company__posts .company__post:nth-child(even) .company__post-pic>a {
    justify-content: flex-start;
}

.company__posts .company__post:nth-child(even) .col-lg-5.offset-lg-1 {
    margin-right: 8.333333%;
    margin-left: 0;
}

.company__posts .company__post:nth-child(odd):before {
    content: "";
    display: inline-block;
    width: 3px;
    background-color: #f9c31f;
    height: calc(100% - 215px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.company__posts .company__post:nth-child(odd):after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: #f9c31f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.company__posts .company__post:nth-child(even):before {
    content: "";
    display: inline-block;
    height: 215px;
    width: 3px;
    background-color: #f9c31f;
    position: absolute;
    left: 0;
    top: 0;
}

.company__posts .company__post:nth-child(odd) .company__post-descr .title:after {
    content: "";
    display: inline-block;
    width: 78px;
    height: 3px;
    background-color: #f9c31f;
    position: absolute;
    right: -88px;
    bottom: 0;
}

.machinery {
    padding-top: 200px;
}

.machinery h3,
.technology h3,
.company-project h3 {
    margin-bottom: 75px;
    font-size: 72px;
    padding: 37px 0;
}

.machinery .subtitle,
.technology .subtitle,
.company-project .subtitle {
    font-family: AkrobatBold;
    font-size: 48px;
    color: #f9c31f;
    text-align: center;
    padding-bottom: 70px;
    position: relative;
    margin-bottom: 120px;
}

.machinery .subtitle:after,
.technology .subtitle:after {
    position: absolute;
    display: block;
    width: 20%;
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    background-color: #f9c31f;
    max-width: 410px;
    width: 100%;
}

.company-machinery__slide img {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px;
    max-height: 100%;
}

.company-machinery .slick-list {
    padding: 0 !important;
}

.company-machinery__slide {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f9c31f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;

}

.company-slidersect {
    padding: 0 140px;
    position: relative;
}

.company-machinery .slick-slide {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.company-machinery .slick-slide.slick-current {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.company-machinery .slick-arrow,
.company-project__slider .slick-arrow {
    position: absolute;
    width: 50px;
    height: 100px;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}

.company-machinery .slick-prev.slick-arrow,
.company-project__slider .slick-prev.slick-arrow {
    background-image: url(../image/arrslideleft.png);
    left: -45px;
}

.company-machinery .slick-next.slick-arrow,
.company-project__slider .slick-next.slick-arrow {
    background-image: url(../image/arrslideright.png);
    right: -45px;
}

.company-characteristics {
    width: 547px;
    margin: 0 auto;
    margin-top: 20px;
}

.company-characteristics__slide>p {
    margin: 0 0 50px 0;
    font-family: GothaProNarMed;
    color: #141c2f;
    font-size: 60px;
    background-color: #f9c31f;
    text-align: center;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
}

.characteristics__box {
    background-color: #878b95;
    padding: 20px 35px;
    border-radius: 10px 10px 30px 30px;
    -webkit-border-radius: 10px 10px 30px 30px;
    -moz-border-radius: 10px 10px 30px 30px;
    -ms-border-radius: 10px 10px 30px 30px;
    -o-border-radius: 10px 10px 30px 30px;
}

.characteristics__field p {
    margin: 0 0 15px 0;
    color: #fce08d;
    text-transform: uppercase;
    font-family: AkrobatSemiBold;
    font-size: 24px;

}

.slick-slide:focus {
    outline: none;
}

.company-characteristics .yellow-line {
    position: relative;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #fff324;
}

.characteristics__box .characteristics__field:last-child {
    margin-bottom: 0;
}

.characteristics__box .characteristics__field {
    margin-bottom: 20px;
}

.company-characteristics .blue-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #141c2f;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    width: 0;
}

.company-characteristics .slick-current .blue-line.w10 {
    width: 10%;
}

.company-characteristics .slick-current .blue-line.w20 {
    width: 20%;
}

.company-characteristics .slick-current .blue-line.w30 {
    width: 30%;
}

.company-characteristics .slick-current .blue-line.w40 {
    width: 40%;
}

.company-characteristics .slick-current .blue-line.w50 {
    width: 50%;
}

.company-characteristics .slick-current .blue-line.w60 {
    width: 60%;
}

.company-characteristics .slick-current .blue-line.w70 {
    width: 70%;
}

.company-characteristics .slick-current .blue-line.w80 {
    width: 80%;
}

.company-characteristics .slick-current .blue-line.w90 {
    width: 90%;
}

.company-characteristics .slick-current .blue-line.w100 {
    width: 100%;
}

.technology {
    padding-top: 260px;
}

.company__posts.noborder .company__post:nth-child(odd) .company__post-descr .title:after,
.company__posts.noborder .company__post:nth-child(odd):before,
.company__posts.noborder .company__post:nth-child(odd):after,
.company__posts.noborder .company__post:nth-child(even):before {
    display: none;
}

.company-project {
    padding-top: 200px;
    padding-left: 140px;
    padding-right: 140px;
}

.company-project__slider .company-project__slide {
    width: 375px;
}

.company-project__slider .company-project__slide {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #878b95;
    padding: 38px 30px 20px 30px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.company-project__slider .company-project__slide .picbox {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 30px;
}

.company-project__slider .company-project__slide .picbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.company-project__slider .company-project__slide .descrbox .title {
    font-family: AkrobatBold;
    font-size: 24px;
    color: #878b95;
    background-color: #141c2f;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 15px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.company-project__slider .company-project__slide .descrbox .descr {
    font-family: AkrobatSemiBold;
    font-size: 24px;
    height: 90px;
    overflow: hidden;
    color: #141c2f;
}

.company-project__slider .company-project__slide a {
    display: none;
}

.company-project__slider .slick-slide {
    width: 750px;
}

.company-project__slider .company-project__slide {
    width: 100%;
}

.company-project__slider .slick-slide.slick-current {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.company-project__slider .slick-slide.slick-current .company-project__slide a {
    display: block;
    font-size: 36px;
    font-family: AkrobatSemiBold;
    color: #f9c31f;
    text-transform: uppercase;
    background-color: #141c2f;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    padding: 15px 0;
}

.company-project__slider .slick-slide {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.company-project__slider .slick-list {
    padding: 0 !important;
}


.company-project__slider .slick-slide.slick-current .company-project__slide .descrbox .title {
    font-size: 42px;
    color: #f9c31f;
}

.company-bottpic {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}

.company-bottpic>img {
    width: 100%;
    opacity: .65;
}

.company-bottpic__shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(20, 28, 47, 0) 0%, #141c2f);
    z-index: 1;
}

.company-bottpic:after {
    content: "";
    width: calc(100% - 200px);
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background-color: #141c2f;
    display: block;
    top: 0;
    height: 300px;
    left: 0;
    right: 0;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
}

.company-project__slider .slick-arrow {
    margin-top: -70px;
}

/* blue header */
@media(min-width:992px) {
    header.header.blue {
        top: 0;
        padding: 30px 100px;
        background-color: #141c2f;
    }

    header.header.blue .header__nav ul li a {
        font-size: 24px;
        font-family: AkrobatBold;
        color: #dab544;
        position: relative;
        padding: 3px 15px;
        line-height: 1;
        transition: 0s;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -ms-transition: 0s;
        -o-transition: 0s;
    }

    header.header.blue .header__nav ul li.active a:after,
    header.header.blue .header__nav ul li a:hover:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #dab544;
        z-index: -1;
        -webkit-transform: skew(30deg);
        -moz-transform: skew(30deg);
        -o-transform: skew(30deg);

    }

    header.header.blue .header__nav ul li.active a,
    header.header.blue .header__nav ul li a:hover {
        color: #141c2f;
        transition: 0s;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -ms-transition: 0s;
        -o-transition: 0s;
    }

    header.header.blue .header__nav ul li:after {
        display: none;
    }
}

.company-firstscreen>p {
    text-align: center;
}

.technology .subtitle {
    text-transform: uppercase;
}


/* - line animation */
@media(min-width:1024.8px) {

    /* company */
    .company__linetexts.linehidd .comp-linet__top:after {
        width: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .company__linetexts.linehidd.visible .comp-linet__top:after {
        width: 100%;
    }

    .company__linetexts.linehidd .comp-linet__top .comp-linet__text:after,
    .company__linetexts.linehidd .comp-linet__text:after {
        height: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .company__linetexts.linehidd.visible .comp-linet__top .comp-linet__text:after,
    .company__linetexts.linehidd.visible .comp-linet__text:after {
        height: 96px;
    }

    /* index */

    .about__linetexts.mainlinehidd .about__linetexts-top .about_cont {
        border-bottom: none;
    }

    .about__linetexts.mainlinehidd .about__linetexts-top .about_cont:after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        height: 4px;
        background-color: #dab544;
        width: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .about__linetexts.mainlinehidd.visible .about__linetexts-top .about_cont:after {
        width: 100%;
    }

    .about__linetexts.mainlinehidd .about__linetexts-top span:after {
        height: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .about__linetexts.mainlinehidd.visible .about__linetexts-top span:after {
        height: 62px;
    }

    .about__linetexts.mainlinehidd .about__linetexts-bottom span:after {
        height: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .about__linetexts.mainlinehidd.visible .about__linetexts-bottom span:after {
        height: 62px;
    }

}







/* font-family: GothaProNarMed;
    font-family: GothaProBold;
    font-family: AkrobatBold;
    font-family: GothamProBlack;
    font-family: GothamProLight;
    font-family: GothamPro;
    font-family: AkrobatLight;
    font-family: AkrobatSemiBold; 
    font-family: akrobat-black;*/