@media(max-width:1900.8px) {
    .company__post-descr .title {
        font-size: 34px;
    }
}

@media(max-width:1600.1px) {
    .header__logo a img {
        max-width: 200px;
    }

    .header__nav ul li:after {
        height: 3px;
        bottom: -9px;
    }

    .header__nav ul li:not(:last-child) {
        margin-right: 35px;
    }

    .scrollto img {
        width: 50px;
    }

    .scrollto {
        bottom: 40px;
    }

    header.header {
        top: 20px;
    }

    .container-sect {
        max-width: 1150px;
    }

    .new__picblock .newsgenpic {
        height: 325px;
    }

    .new__textblock .date {
        margin-bottom: 20px;
    }

    .new__textblock .title {
        margin-bottom: 30px;
    }

    .new__textblock .descr {
        font-size: 16px;
    }

    .mark-news span,
    .mark-newstop span {
        font-size: 18px;
        top: 8px;
    }

    .new__textblock .readmore {
        font-size: 18px;
        border-width: 2px;
    }

    .about {
        padding: 80px 0 150px 0;
    }

    .about__picblock {
        height: 450px;
    }

    .about__picblock p {
        text-align: left;
        font-size: 20px;
        line-height: 26px;
    }

    .about__linetexts-top span:after,
    .about__linetexts-bottom span:after {
        width: 4px;
    }

    .about__linetexts-top .about_cont {
        padding-bottom: 80px;
    }

    .about__linetexts-bottom .about_cont {
        padding-top: 80px;
    }

    .about__linetexts-top span:after {
        bottom: -82px;
    }

    .about__linetexts-bottom span:after {
        top: -82px;
    }

    .about__vertboxes .right .title:before,
    .about__vertboxes .left .title:before {
        height: 3px;
    }

    .abvtext .title:after {
        bottom: -20px;
    }

    .about__vertboxes .left:after {
        height: calc(100% - 61px);
    }

    .about__vertboxes .abvtext:not(:last-child) {
        margin-bottom: 100px;
    }

    .geograph-projlink {
        border-width: 3px;
        margin-bottom: 60px;
    }

    .footer__topsect {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .footer__bottsect p,
    .footer__bottsect p a {
        font-size: 18px;
    }

    .footer__bottsect {
        padding: 15px 100px;
    }

    .header__nav ul li .menuborder {
        height: 4px;
    }

    .new__textblock .descr {
        line-height: 24px;
    }

    header.header.blue {
        padding: 20px 100px;
    }

    header.header.blue .header__nav ul li a {
        font-size: 20px;
    }

    .diract__titlebox .title,
    .machinery h3,
    .technology h3,
    .company-project h3 {
        margin-bottom: 60px;
        padding: 20px 0;
    }

    .company-firstscreen {
        height: calc(100vh + 150px);
    }

    .diract__titlebox {
        margin-top: -148px;
    }

    .comp-linet__text:after {
        width: 4px;
    }

    .company__linetexts .comp-linet__top {
        height: 230px;
        padding-bottom: 100px;
    }

    .comp-linet__top .comp-linet__text:after {
        margin-bottom: -99px;
    }

    .company__linetexts .comp-linet__bottom {
        height: 230px;
        padding-top: 100px;
    }

    .comp-linet__bottom .comp-linet__text:after {
        margin-top: -102px;
    }

    .comp-linet__text p {
        width: 250px;
    }

    .comp-linet__bottom .comp-linet__text {
        transform: translateX(49.8%);
        -webkit-transform: translateX(49.8%);
        -moz-transform: translateX(49.8%);
        -ms-transform: translateX(49.8%);
        -o-transform: translateX(49.8%);
    }

    .company__post-pic .picbox,
    .company__post-pic .colorbox {
        height: 400px;
    }

    .company__post-pic .picbox {
        width: calc(100% - 30px);
        margin-top: 30px;
    }

    .company__post-descr .title {
        height: 100px;
    }

    .company__posts .company__post:nth-child(odd):before {
        height: calc(100% - 167px);
    }

    .company__post-descr .title {
        margin-bottom: 40px;
    }

    .company__post-descr {
        padding-top: 25px;
    }

    .machinery {
        padding-top: 80px;
    }

    .machinery .subtitle,
    .technology .subtitle,
    .company-project .subtitle {
        padding-bottom: 30px;
        margin-bottom: 60px;
    }

    .company-machinery__slide {
        height: 380px;
    }

    .company-characteristics .yellow-line,
    .company-characteristics .slick-current .blue-line {
        height: 20px;
    }

    .characteristics__field p {
        margin-bottom: 5px;
    }

    .company-characteristics {
        width: 460px;
    }

    .characteristics__box .characteristics__field {
        margin-bottom: 10px;
    }

    .company-machinery .slick-arrow,
    .company-project__slider .slick-arrow {
        width: 30px;
        height: 60px;
        background-size: 100%;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide a {
        font-size: 24px;
        padding: 10px 0;
        max-width: 240px;
    }

    .company-project__slider .company-project__slide .picbox {
        height: 240px;
    }

    .company-project__slider .company-project__slide {
        padding: 25px 20px 20px 20px;
    }

    .company-bottpic:after {
        height: 150px;
    }

    .company-firstscreen>p {
        margin-top: -100px;
    }

    .directions-activity.news-sect h1 {
        margin-bottom: 100px;
    }

    .tabs_title span {
        font-size: 24px;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .tabs_title span:hover {
        border-radius: 25px 25px 0 0;
        -webkit-border-radius: 25px 25px 0 0;
        -moz-border-radius: 25px 25px 0 0;
        -ms-border-radius: 25px 25px 0 0;
        -o-border-radius: 25px 25px 0 0;
    }

    .news_descrnew .date {
        margin-bottom: 20px;
    }

    .news_descrnew .title {
        margin-bottom: 30px;
    }

    .news_descrnew .descr {
        line-height: 24px;
    }

    .news_descrnew .descr {
        margin-bottom: 45px;
    }

    .news_descrnew a {
        border-width: 2px;
    }

    .tabs_title {
        margin-bottom: 75px;
    }

    .morenews-box a {
        width: 200px;
        padding: 8px 0;
    }

    .videobox .title {
        margin-top: 10px;
    }








    /*1600 fz */
    .abvtext .descr p,
    .news_descrnew .descr {
        font-size: 16px;
    }

    .slider__title,
    .company-firstscreen>p {
        font-size: 60px;
    }

    .circh3,
    .genh3,
    h3:not(.circh3),
    .abvtext .title,
    .geograph-projlink,
    .diract__titlebox .title,
    .machinery h3,
    .technology h3,
    .company-project h3,
    .company-characteristics__slide>p,
    .directions-activity.news-sect h1,
    .videobox .title {
        font-size: 42px;
    }

    .about__linetexts-top span,
    .about__linetexts-bottom span,
    .footer__list li:first-child a,
    .machinery .subtitle,
    .technology .subtitle,
    .company-project .subtitle,
    .morenews-box a {
        font-size: 32px;
    }

    .company__post-descr .title,
    .company-project__slider .slick-slide.slick-current .company-project__slide .descrbox .title {
        font-size: 24px;
    }

    .comp-linet__text,
    .news_descrnew .title {
        font-size: 22px;
    }

    .header__nav ul li a,
    .new__textblock .date,
    .news_descrnew .date {
        font-size: 20px;
    }

    .abvtext .subtitle,
    .footer__list li a,
    .company__post-descr .descr p,
    .characteristics__field p,
    .company-project__slider .company-project__slide .descrbox .title,
    .company-project__slider .company-project__slide .descrbox .descr,
    .news_descrnew a {
        font-size: 18px;
    }

    /* padd */
    .news,
    .technology {
        padding-top: 100px;
    }

    .about__linetexts {
        padding: 150px 0;
    }

    /* mar */
    .news h3,
    .about h3,
    .abvtext .title {
        margin-bottom: 60px;
    }

    .abvtext .subtitle,
    .abvtext .descr p,
    .footer__list li {
        margin-bottom: 15px;
    }

    .company__linetexts {
        margin-bottom: 80px;
    }
}

@media(max-width:1367.1px) {

    .company__post-pic .picbox,
    .company__post-pic .colorbox {
        height: 300px;
    }

    .tabcontenblock {
        max-width: 1150px;
        width: 100%;
    }

    .tabcontent.videotab .tabcontenblock .row {
        margin-bottom: 0;
    }

}

@media(max-width:1199.1px) {
    .container-sect {
        max-width: 1000px;
    }

    .header__logo a img {
        max-width: 150px;
    }

    .about__vertboxes .left:after {
        height: calc(100% - 54px);
    }

    .new__picblock .newsgenpic {
        height: 280px;
    }

    .company__posts .company__post:nth-child(odd) .company__post-descr .title:after,
    .company__posts .company__post:nth-child(odd):before,
    .company__posts .company__post:nth-child(odd):after,
    .company__posts .company__post:nth-child(even):before {
        display: none;
    }

    .company__post-descr .descr p:not(:first-child) {
        display: none;
    }

    .company__post-descr .descr p {
        margin-bottom: 0;
    }

    .company__post-pic .picbox,
    .company__post-pic .colorbox {
        height: 335px;
    }

    .company__post {
        padding-left: 0;
        padding-right: 0;
    }

    .tabs_title span {
        margin: 0 20px;
    }

    .tabcontenblock {
        padding: 0 15px;
    }

    .directions-activity.news-sect h1 {
        margin-bottom: 60px;
    }

    .morenews-box {
        margin-top: 100px;
    }

    .directions-activity.news-sect {
        padding-bottom: 100px;
    }

    /* fz 1199 */
    .header__nav ul li a,
    .new__textblock .date,
    .news_descrnew .date {
        font-size: 16px;
    }

    .slider__title {
        font-size: 42px;
    }

    .circh3,
    .genh3,
    h3:not(.circh3),
    .abvtext .title,
    .geograph-projlink {
        font-size: 32px;
    }


    /* padd */
    .news {
        padding-top: 60px;
    }





}

@media(max-width:1024.1px) {
    .container-sect {
        max-width: 725px;
    }

    .news h3 {
        color: #dab544;
        background-color: transparent;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        font-weight: 500;
        padding: 0;
        margin-bottom: 43px;
    }

    .new__textblock {
        padding-right: 15px;
    }

    .new__picblock {
        padding-right: 33px;
        padding-left: 19px;
    }

    .mark-news,
    .mark-newstop {
        width: 80px;
        height: 29px;
    }

    .mark-news span,
    .mark-newstop span {
        font-size: 14px;
        padding-left: 13px;
        top: 4px;
    }

    .mark-newstop span {
        top: 3px;
        font-size: 14px;
    }

    .mark-news {
        left: 9px;
    }

    .mark-newstop {
        right: 9px;
    }

    .newsection .colwrap .newsection__leftpic {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }

    .newsection .colwrap .newsection__rightpic {
        -ms-flex: 0 0 52%;
        flex: 0 0 52%;
        max-width: 52%;
    }

    .new__textblock .title {
        margin-bottom: 10px;
    }

    .new__textblock .descr {
        line-height: 18px;
    }

    .new__textblock .descr {
        margin-bottom: 26px;
    }

    .new__textblock .readmore {
        font-size: 11px;
        width: 92px;
        height: 23px;
        border-width: 1px;
    }

    .newsection .colwrap:not(:last-child) {
        margin-bottom: 53px;
    }

    .newsection .colwrap:nth-child(even) .newsection__leftpic .new__picblock {
        padding-left: 33px;
        padding-right: 19px;
    }

    .newsection .colwrap:nth-child(even) .new__textblock {
        padding-left: 22px;
    }

    .new__textblock .descr {
        text-align: justify;
    }

    .about .genh3 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 42px;
    }

    .about__picblock {
        height: 250px;
    }

    .about__picblock p {
        padding: 0 40px;
        font-size: 10px;
        line-height: 14px;
    }

    .about__linetexts-bottom .about_cont {
        padding-top: 40px;
    }

    .about__linetexts-top .about_cont {
        padding-bottom: 40px;
    }

    .about__linetexts-bottom span:after,
    .about__linetexts-top span:after {
        height: 41px;
    }

    .about__linetexts-top span:after {
        bottom: -42px;
    }

    .about__linetexts-bottom span:after {
        top: -42px;
    }

    .about__linetexts-bottom span:after,
    .about__linetexts-top span:after {
        height: 25px;
        width: 3px;
    }

    .about__linetexts-bottom span:after {
        margin-left: -1px;
    }

    .geograph-projlink {
        border-width: 2px;
        height: 57px;
        margin-bottom: 45px;
        padding: 6px 19px;
    }

    .geograph-proj {
        margin-bottom: 45px;
    }


    .abvtext .descr p {
        font-size: 14.5px;
        line-height: 18px;
    }

    .about__linetexts {
        padding: 52px 0;
    }

    .about__vertboxes .right {
        padding-left: 66px;
    }

    .about__vertboxes .left {
        padding-right: 66px;
    }

    .abvtext .title:after {
        height: 2px;
        width: 64px;
    }

    .abvtext .title {
        margin-bottom: 26px;
    }

    .abvtext .title:after {
        bottom: -10px;
    }

    .about__vertboxes .right .title:before,
    .about__vertboxes .left .title:before {
        width: 27px;
    }

    .about__vertboxes .right .title:before {
        left: -65px;
    }

    .about__vertboxes .left .title:before {
        right: -65px;
    }

    .about__vertboxes .left:after {
        height: calc(100% - 45px);
    }

    .about__vertboxes .left .abvtext:first-child {
        margin-top: 105px;
    }

    .about__vertboxes .abvtext:not(:last-child) {
        margin-bottom: 74px;
    }

    .about__vertboxes .left:before {
        right: -6.5px;
        width: 13px;
        height: 1px;
    }

    .footer__list li:first-child a {
        font-size: 25px;
    }

    .footer__list li a {
        font-size: 12px;
    }

    .footer__bottsect p,
    .footer__bottsect p a {
        font-size: 10px;
    }

    .footer__topsect {
        border-width: 1px;
    }

    .footer__topsect {
        padding: 26px 55px 15px 55px;
    }

    .footer__bottsect {
        padding: 15px 55px;
    }

    .footer__list li {
        margin-bottom: 12px;
    }

    .footer__list {
        margin-bottom: 15px;
    }

    .mappop {
        left: 0 !important;
        bottom: initial !important;
        top: 65% !important;
        right: initial !important;
    }

    .new__picblock .newsgenpic {
        height: 205px;
    }

    .about {
        padding: 26px 0 35px 0;
    }

    .directions-activity.news-sect {
        padding-top: 0;
    }

    .directions-activity.news-sect h1 {
        font-size: 30px;
        margin-bottom: 65px;
        width: 220px;
        border-radius: 0 0 25px 25px;
        -webkit-border-radius: 0 0 25px 25px;
        -moz-border-radius: 0 0 25px 25px;
        -ms-border-radius: 0 0 25px 25px;
        -o-border-radius: 0 0 25px 25px;
    }

    .tabs_title span {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        width: 125px;
        height: 32px;
    }

    .tabs_title span.active,
    .tabs_title span:hover {
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
    }

    .tabs_title {
        margin-bottom: 60px;
    }

    .tabcontenblock {
        max-width: 745px;
    }

    .tabcontenblock .col-md-5 {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
        padding: 0;
    }

    .tabcontenblock .col-md-5.offset-md-1 {
        margin-left: 0;
        -ms-flex: 0 0 52%;
        flex: 0 0 52%;
        max-width: 52%;
        padding: 0;
    }

    .news_picnew {
        padding-right: 33px;
        padding-left: 19px;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:nth-child(2) {
        margin-right: 0;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:nth-child(2) {
        padding-left: 33px;
        padding-right: 19px;
    }

    .news_descrnew .date {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .news_descrnew .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .news_descrnew a {
        font-size: 11px;
        width: 92px;
        height: 23px;
        border-width: 1px;
    }

    .news_descrnew .descr {
        margin-bottom: 26px;
        line-height: 18px;
    }

    .news_descrnew .descr {
        text-align: justify;
    }

    .tabcontenblock .col-md-5.offset-md-1 {
        padding-right: 30px;
    }

    .tabcontenblock .row {
        margin-bottom: 53px;
    }

    .videobox .title {
        font-size: 32px;
    }

    .videobox {
        margin-bottom: 40px;
    }

    .morenews-box {
        margin-top: 65px;
    }

    .directions-activity.news-sect {
        padding-bottom: 65px;
    }

    .morenews-box a {
        font-size: 24px;
        width: 125px;
        padding: 6px 0;
    }

    /* max-width: 725px; */



    /* fz 1024 */
    .company-firstscreen>p {
        font-size: 49px;
    }

    .news h3 {
        font-size: 38px;
    }

    .new__textblock .date,
    .new__textblock .descr,
    .news_descrnew .descr {
        font-size: 14px;
    }

    .new__textblock .title {
        font-size: 18px;
    }

    .about__linetexts-top span,
    .about__linetexts-bottom span {
        font-size: 19px;
    }

    .abvtext .subtitle {
        font-size: 14px;
    }

    .abvtext .title {
        font-size: 31px;
    }

    .company-firstscreen {
        height: 100vh;
    }

    .directions-activity {
        padding-top: 50px;
    }

    .diract__titlebox {
        margin-top: 0;
    }

    .company-project {
        padding-top: 100px;
        padding-left: 70px;
        padding-right: 70px;
    }


    /* padd */
    .news {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    /* mar */
    .new__textblock .date {
        margin-bottom: 15px;
    }

    .abvtext .subtitle {
        margin-bottom: 10px;
    }
}

@media(max-width:991.1px) {
    header.header {
        top: 0;
    }

    .header__nav {
        position: absolute;
        right: 0;
        height: 100vh;
        width: 86px;
        top: 0;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        background-color: #c49c50;
        border-radius: 20px 0 0 20px;
    }

    .header__nav>div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .header__nav ul {

        padding: 100px 0;
    }

    .header__nav ul li {
        margin-right: 0 !important;
    }


    .header__nav ul li a {
        color: #141c2f;
        font-size: 24px;
    }

    .header__nav ul li.active:after {
        display: none;
    }

    .header__nav ul li a {
        padding: 20px 2px;
    }

    .header__nav ul li.active a {
        background-image: url(../image/tablet-hovemenu.png);
        background-size: 100% 100%;
        color: #c49c50;
    }

    .header__logo a img {
        max-width: 300px;
        margin-top: 50px;
    }

    header.header {
        padding: 0 85px 0 0;
        right: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .slider__title {
        font-size: 48px;
    }

    .maintopslider__slide {
        padding-right: 85px;
    }


    .company-firstscreen {
        padding-right: 90px;
    }

    .company-firstscreen>p {
        margin-top: 0;
    }

    .diract__titlebox .title {
        margin-bottom: 125px;
    }


    .diract__titlebox,
    .titbox-comp {
        width: 100%;
        max-width: 595px;
        margin: 0 auto;
    }

    .company__linetexts {
        max-width: 100%;
        display: flex;
    }

    .company__linetexts .comp-linet__top,
    .company__linetexts .comp-linet__bottom {
        height: auto;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
        padding-top: 0;
    }

    .comp-linet__text {
        width: 100%;
        display: block;
    }

    .comp-linet__bottom .comp-linet__text {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .company__linetexts .comp-linet__top:after {
        width: 4px;
        height: 100%;
        right: 0;
        top: 0;
        left: initial;
        bottom: initial;
    }

    .company__linetexts .comp-linet__top .comp-linet__text {
        padding-right: 75px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text {
        padding-left: 75px;
    }

    .comp-linet__text p {
        width: 100%;
        font-size: 18px;
        max-width: 225px;
        margin: 0;
        display: inline-block;
    }

    .comp-linet__bottom .comp-linet__text:after {
        height: 4px;
        width: 56px;
        margin-top: 35px;
        left: 0;
    }

    .comp-linet__top .comp-linet__text:after {
        height: 4px;
        width: 56px;
        margin-top: 35px;
        right: 0;
        left: initial;
        margin-bottom: initial;
        top: 0;
    }

    .directions-activity .boxovhidd {
        overflow: initial;
    }

    .diract__titlebox {
        background-color: transparent;
    }

    .comp-linet__bottom .comp-linet__text:first-child p {
        margin-top: -35px;
    }

    .comp-linet__bottom .comp-linet__text:first-child:after {
        margin-top: -1px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text,
    .company__linetexts .comp-linet__top .comp-linet__text {
        margin-bottom: 340px;
    }

    .company__linetexts .comp-linet__top .comp-linet__text {
        text-align: right;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text {
        text-align: left;
    }

    .company__linetexts .comp-linet__top .comp-linet__text p,
    .company__linetexts .comp-linet__bottom .comp-linet__text p {
        text-align: center;
    }

    .company__linetexts .comp-linet__top .comp-linet__text:first-child {
        margin-top: 180px;
    }

    .company__linetexts .comp-linet__top,
    .company__linetexts .comp-linet__bottom {
        padding-bottom: 0;
    }

    .company__linetexts .comp-linet__top .comp-linet__text:last-child {
        margin-bottom: 250px;
    }

    .company__posts {
        max-width: 655px;
        width: 100%;
    }

    .company__post-pic .picbox {
        width: calc(100% - 15px);
        margin-top: 15px;
    }

    .company__post-pic .picbox,
    .company__post-pic .colorbox {
        height: 220px;
    }

    .company__post-descr .title {
        font-size: 18px;
        height: auto;
        padding-bottom: 15px;
    }

    .company__post-descr .title:before {
        height: 1px;
        width: 44px;
    }

    .company__post-descr .title {
        margin-bottom: 29px;
    }

    .company__post-descr .descr p {
        font-size: 15px;
    }

    .company__post-descr .descr {
        padding: 10px;
    }

    .company__post-descr {
        padding-top: 15px;
    }

    .company__post {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .machinery {
        padding-top: 30px;
    }

    .machinery .subtitle:after,
    .technology .subtitle:after {
        max-width: 164px;
        height: 1px;
    }

    .machinery .subtitle,
    .technology .subtitle,
    .company-project .subtitle {
        margin-bottom: 50px;
        font-size: 21px;
    }

    .company-slidersect {
        padding: 0 55px;
    }

    .company-machinery__slide {
        height: 235px;
    }

    .company-characteristics {
        max-width: 250px;
    }

    .company-characteristics__slide>p {
        margin-bottom: 20px;
    }

    .company-characteristics {
        margin-top: 8px;
    }

    .company-characteristics .yellow-line,
    .company-characteristics .slick-current .blue-line {
        height: 12px;
    }

    .characteristics__box {
        padding: 10px 15px 20px 15px;
    }

    .technology {
        padding-top: 50px;
    }

    .machinery h3,
    .technology h3 {
        margin-bottom: 25px;
    }

    .company-project {
        padding-top: 50px;
    }

    .company-project__slider .company-project__slide .picbox {
        height: 175px;
    }

    .company-machinery .slick-arrow,
    .company-project__slider .slick-arrow {
        height: 40px;
        width: 20px;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide .descrbox .title {
        font-size: 17px;
    }

    .company-project__slider .company-project__slide .descrbox .title {
        font-size: 10px;
        padding: 11px 0;
        margin-bottom: 7px;
    }

    .company-project__slider .company-project__slide {
        padding: 10px;
    }

    .company-project__slider .company-project__slide .descrbox .descr {
        font-size: 12px;
    }


    .company-project__slider .company-project__slide .picbox {
        margin-bottom: 10px;
    }

    .company-project__slider .company-project__slide .descrbox .descr {
        height: auto;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide a {
        max-width: 115px;
        padding: 5px 0;
    }

    .company-bottpic:after {
        display: none;
    }

    .company-bottpic {
        max-height: 420px;
    }

    .header.blue .header__nav ul li:hover:after {
        display: none;
    }

    /* 991 fa */
    .diract__titlebox .title,
    .machinery h3,
    .technology h3,
    .company-project h3 {
        font-size: 31px;
    }

    .company-characteristics__slide>p {
        font-size: 28px;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide a {
        font-size: 17px;
    }

    .characteristics__field p {
        font-size: 10px;
    }
}

@media(max-width:767.8px) {
    .header__nav ul li:first-child {
        display: block;
    }

    body {
        overflow-x: hidden;
    }

    .header__nav {
        display: none;
    }

    .header__logo a img {
        max-width: 160px;
        margin-top: 0;
    }

    header.header {
        padding: 0 15px;
        height: 64px;
        background-color: #141c2f;
        display: flex;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
    }

    .phonemenu {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url(../image/icons/menu.svg);
        background-size: 100%;
        background-position: center center;
    }

    .maintopslider__slide {
        padding-right: 0;
    }

    .scrollto img {
        width: 40px;
    }

    .scrollto {
        bottom: 20px;
        width: 40px;
    }

    .container-sect {
        max-width: 350px;
    }

    .news {
        padding-top: 25px;
    }

    .news h3 {
        margin-bottom: 30px;
    }

    .newsection .colwrap .newsection__leftpic,
    .newsection .colwrap .newsection__rightpic {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new__picblock {
        padding: 0;
    }

    .mark-news,
    .mark-newstop {
        left: -3px;
        width: 61px;
        height: 21px;
        top: -1px;

    }

    .mark-news span,
    .mark-newstop span {
        top: 0;
        padding-left: 11px;
    }

    .new__picblock .newsgenpic {
        margin-bottom: 10px;
    }

    .new__textblock .readmore {
        width: 190px;
        height: 40px;
        border-radius: 17px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
    }

    .new__textblock .date {
        margin-bottom: 10px;
    }

    .new__textblock {
        padding-right: 0;
    }

    .new__textblock .descr {
        line-height: 20px;
    }

    .new__textblock .readmore {
        margin: 0 auto;
        display: flex;
    }

    .newsection .colwrap:nth-child(even) .col50:first-child {
        order: 1;
    }

    .newsection .colwrap:nth-child(even) .col50:nth-child(2) {
        order: 2;
    }

    .newsection .colwrap:nth-child(even) .newsection__leftpic .new__picblock {
        padding: 0;
    }

    .mark-newstop {
        background-image: url(../image/mark.png);
    }

    .mark-newstop span {
        text-align: left;
        display: block;
        top: 2px;
    }

    .newsection .colwrap:not(:last-child) {
        margin-bottom: 35px;
    }

    .newsection .colwrap:nth-child(even) .new__textblock {
        padding-left: 0;
    }

    .newsection .colwrap:nth-child(even) .new__textblock {
        text-align: left;
    }

    .about__picblock {
        height: 225px;
    }

    .about__picblock p {
        display: none;
    }

    .about_cont {
        max-width: 100%;
        display: block;
    }

    .about__linetexts-top {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
    }

    .about__linetexts-bottom {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
    }

    .about__linetexts {
        display: flex;
    }

    .about__linetexts-top span,
    .about__linetexts-bottom span {
        display: block;
        width: 100%;
    }

    .about__linetexts-bottom span {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .about_cont {
        border-bottom: none;
        border-right: 4px solid #dab544;
    }

    .about__linetexts-top span:after,
    .about__linetexts-bottom span:after {
        height: 3px;
        width: 34px;
    }

    .about__linetexts-bottom span:after {
        left: 0;
        top: 50%;
        bottom: initial;
        margin-top: -1.5px;
    }

    .about__linetexts-top span:after {
        right: 0;
        top: 50%;
        bottom: initial;
        margin-top: -2px;
    }

    .about__linetexts-top span {
        text-align: right;
        padding-right: 54px;
    }

    .about__linetexts-bottom span {
        text-align: left;
        padding-left: 54px;
    }

    .about__linetexts-top span,
    .about__linetexts-bottom span {
        margin-bottom: 165px;
        font-size: 16px;
    }

    .about__linetexts-bottom .about_cont {
        padding-top: 90px;
    }

    .about__linetexts-top span:first-child:after {
        top: 2px;
    }

    .about__linetexts-top .about_cont {
        padding-bottom: 0;
    }

    .about__linetexts-top span:last-child {
        margin-bottom: 0;
    }

    .about__linetexts-bottom span:last-child {
        margin-bottom: -17px;
    }

    .about__linetexts {
        padding-bottom: 70px;
    }

    .about__vertboxes .left {
        padding-right: 0;
    }

    .about__vertboxes .left:after {
        display: none;
    }

    .about__vertboxes .right {
        padding-left: 0;
    }

    .about__vertboxes .right .title:before,
    .about__vertboxes .left .title:before {
        display: none;
    }

    .about__vertboxes .right,
    .about__vertboxes .left {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about__vertboxes .left .titlesbox {
        display: block;
    }

    .about__vertboxes .left .abvtext .subtitle {
        text-align: left;
    }

    .about__vertboxes .left .abvtext:first-child {
        margin-top: 20px;
    }

    .abvtext .descr p {
        line-height: 20px;
    }

    .about__vertboxes .abvtext:not(:last-child) {
        margin-bottom: 60px;
    }

    .geograph-projlink {
        height: 45px;
        padding: 6px 12px;
    }

    .footer__list li:first-child a {
        font-size: 18px;
    }

    .footer__list li a {
        font-size: 14px;
    }

    .footer__topsect {
        padding: 18px 40px 15px 40px;
    }

    .footer__topsect .footer__box:first-child {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .footer__topsect .footer__box:nth-child(2) {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

    .footer__topsect .footer__box:nth-child(3) {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .footer__topsect .footer__box:nth-child(4) {
        -ms-flex: 0 0 44%;
        flex: 0 0 44%;
        max-width: 44%;
    }

    .footer__list {
        margin-bottom: 22px;
    }

    .footer__bottsect {
        padding: 15px 40px;
    }

    .about__linetexts-top span:first-child {
        margin-top: -15px;
    }

    .about__linetexts-top span:first-child:after {
        top: 17px;
    }

    .mappop {
        width: 120px;
    }

    .mappop span {
        font-size: 14px;
    }

    .mappop {
        left: 0 !important;
        bottom: initial !important;
        top: 0% !important;
        right: initial !important;
        position: relative;
        width: 200px;
        margin: 0 auto;
    }

    .header__nav ul li:after {
        display: none;
    }

    .new__picblock .newsgenpic {
        height: auto;
    }

    .new__picblock .newsgenpic img {
        object-fit: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .new__picblock:hover .newsgenpic img {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .company-firstscreen {
        padding-right: 0;
    }

    header.header.blue {
        padding: 0 15px;
    }

    .diract__titlebox .container-sect,
    .titbox-comp .container-sect {
        max-width: 100%;
        padding: 0 15px;
    }

    .directions-activity {
        padding-top: 30px;
    }

    .diract__titlebox .title {
        padding: 15px 0;
    }

    .diract__titlebox .title {
        margin-bottom: 90px;
    }

    .comp-linet__bottom .comp-linet__text:after {
        width: 44px;
    }

    .comp-linet__top .comp-linet__text:after {
        width: 44px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text {
        padding-left: 55px;
    }

    .company__linetexts .comp-linet__top .comp-linet__text {
        padding-right: 55px;
    }

    .comp-linet__text p {
        max-width: 160px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text,
    .company__linetexts .comp-linet__top .comp-linet__text {
        margin-bottom: 275px;
    }

    .company__linetexts {
        margin-bottom: 15px;
    }

    .company__post {
        max-width: 350px;
        margin: 0 auto;
    }

    .company__post-pic .picbox {
        width: calc(100% - 24px);
        margin-top: 24px;
        height: 245px;
    }

    .company__post-pic .colorbox {
        width: 320px;
        height: 245px;
    }

    .company__linetexts .comp-linet__top .comp-linet__text:last-child {
        margin-bottom: 150px;
    }

    .company__post-pic .picbox img,
    .company__post-pic a:hover .picbox img {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .company__post-descr {
        padding-top: 30px;
    }

    .company__post-descr .descr {
        padding: 10px 10px 15px 10px;
    }

    .company__post {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .company__posts .company__post:nth-child(even) .col-lg-6 {
        order: 1;
    }

    .company__posts .company__post:nth-child(even) .col-lg-5 {
        order: 2;
    }

    .company__posts .company__post:nth-child(even) .company__post-descr .title {
        text-align: right;
    }

    .company__posts .company__post:nth-child(even) .company__post-descr .title:before {
        left: initial;
        right: 0;
    }

    .company__posts .company__post:nth-child(even) .col-lg-5.offset-lg-1 {
        margin-right: 0;
    }


    .company-machinery .slick-arrow,
    .company-project__slider .slick-arrow {
        height: 60px;
        width: 22px;
        background-size: 100% 100%;
    }

    .company-machinery .slick-slide {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }


    .company-machinery__slide {
        height: 350px;
    }

    .company-characteristics {
        max-width: 100%;
        padding: 0 95px;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .company-project {
        padding-left: 0;
        padding-right: 0;
    }

    .company-project__slider {
        width: 290px;
        margin: 0 auto;
    }

    .company-project__slider .slick-slide {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .company-project__slider .company-project__slide a {
        display: block;
    }

    .company-project__slider .slick-slide .company-project__slide a {
        font-size: 17px;
        max-width: 115px;
        padding: 5px 0;
        display: block;
        font-family: AkrobatSemiBold;
        color: #f9c31f;
        text-transform: uppercase;
        background-color: #141c2f;
        border-radius: 37px;
        -webkit-border-radius: 37px;
        -moz-border-radius: 37px;
        -ms-border-radius: 37px;
        -o-border-radius: 37px;
        text-align: center;
        margin: 0 auto;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide .descrbox .title,
    .company-project__slider .slick-slide .company-project__slide .descrbox .title {
        font-size: 17px;
        color: #f9c31f;
    }

    .company-project__slider .company-project__slide {
        padding: 12px 35px;
    }

    .company-project__slider .slick-arrow {
        margin-top: 0;
    }

    .company-project h3 {
        margin-bottom: 30px;
    }

    .company-project {
        position: relative;
        z-index: 2;
    }

    .company-bottpic {
        /* top: -100px; */
    }

    .technology h3 {
        padding: 12px 0;
    }

    .company__posts.noborder .company__post:first-child {
        padding-top: 0;
    }

    header.header {
        z-index: 99;
    }

    .company-slidersect {
        padding: 0 95px;
    }

    .machinery h3 {
        font-size: 29px;
        padding: 11px 0;
    }

    /* fz */
    .mark-news span,
    .mark-newstop span {
        font-size: 12px;
    }

    .comp-linet__text p {
        font-size: 14px;
    }

    .new__textblock .date,
    .new__textblock .descr {
        font-size: 16px;
    }

    .abvtext .subtitle,
    .abvtext .descr p {
        font-size: 17px;
    }

    .company__post-descr .descr p {
        font-size: 19px;
    }

    .diract__titlebox .title,
    .company-project h3 {
        font-size: 21px;
    }

    .technology h3 {
        font-size: 29px;
    }

    .geograph-projlink,
    .company__post-descr .title {
        font-size: 24px;
    }

    .news h3 {
        font-size: 48px;
        margin-bottom: 25px;
    }

    .slider__title {
        font-size: 30px;
    }

    .new__textblock .readmore {
        font-size: 19px;
    }

    .abvtext .title {
        font-size: 37px;
    }



    .about__vertboxes .left:before {
        display: none;
    }

    .about__vertboxes .abvtext:last-child {
        margin-bottom: 60px;
    }

    /* menu */
    .header__nav {
        display: none;
        writing-mode: initial;
        -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
        width: 100%;
        background-color: #141c2f;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

        height: 100vh;
        position: fixed;
        top: 0;
    }

    .header__nav>div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .header__nav ul {
        padding: 20px 0;
        display: block;
    }

    .header__nav ul li {
        display: block;
        margin-bottom: 20px;
    }

    .header__nav ul li a {
        color: #fff;
    }

    .header__nav ul li a {
        font-size: 22px;
    }


    .closemenu {
        display: inline-block;
        background-image: url(../image/icons/close-button.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 15px;
        top: 20px;
    }

    .company-firstscreen>p {
        font-size: 30px;
    }

    .tabcontenblock {
        max-width: 350px;
        padding: 0;
    }

    .tabcontenblock .col-md-5,
    .tabcontenblock .col-md-5.offset-md-1 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news_picnew {
        padding-left: 0;
        padding-right: 0;
    }

    .tabcontenblock .row {
        margin-left: 0;
        margin-right: 0;
    }

    .news_picnew img,
    .news_picnew:hover img {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .directions-activity.news-sect h1 {
        font-size: 24px;
        width: 190px;
        margin-bottom: 40px;
    }

    .tabs_title span {
        margin: 0 15px;
    }

    .tabs_title {
        margin-bottom: 30px;
    }

    .news_picnew {
        margin-bottom: 10px;
    }

    .news_descrnew .date {
        margin-bottom: 10px;
    }

    .news_descrnew .descr {
        font-size: 16px;
        line-height: 20px;
    }

    .news_descrnew a {
        font-size: 19px;
        margin: 0 auto;
        display: flex;
        width: 190px;
        height: 40px;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:first-child {
        order: 1;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:nth-child(2) {
        order: 2;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:nth-child(2) .news_descrnew {
        text-align: left;
    }

    .tabcontenblock .row:nth-child(even) .col-md-5:nth-child(2),
    .tabcontenblock .col-md-5.offset-md-1 {
        padding-left: 0;
        padding-right: 0;
    }

    .morenews-box a {
        width: 130px;
    }

    .morenews-box {
        margin-top: 50px;
    }

    .tabs_title span {
        margin: 0 25px 0 0;
    }

    .tabs_title span:last-child {
        margin-right: 0;
    }

    .tabcontent.videotab .tabcontenblock .row .col-12,
    .tabcontent.videotab .tabcontenblock .row .col-md-6 {
        padding: 0;
    }

    .videobox .title,
    .videobox.littvideo .title {
        font-size: 20px;
    }
}

@media(max-width:500.8px) {
    .company-machinery__slide {
        height: 280px;
    }
}

@media(max-width:470.8px) {
    .tabs_title span {
        margin: 0 15px 0 0;
        width: 110px;
        font-size: 20px;
    }
}

@media(max-width:420.8px) {

    .footer__topsect .footer__box:first-child,
    .footer__topsect .footer__box:nth-child(2),
    .footer__topsect .footer__box:nth-child(3),
    .footer__topsect .footer__box:nth-child(4),
    .footer__topsect .footer__box:nth-child(5) {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer__topsect .footer__box {
        text-align: center;
    }

    .comp-linet__bottom .comp-linet__text:after,
    .comp-linet__top .comp-linet__text:after {
        width: 30px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text {
        padding-left: 35px;
        padding-right: 5px;
    }

    .company__linetexts .comp-linet__top .comp-linet__text {
        padding-right: 35px;
        padding-left: 5px;
    }

    .company__linetexts .comp-linet__bottom .comp-linet__text,
    .company__linetexts .comp-linet__top .comp-linet__text {
        margin-bottom: 200px;
    }

    .company__linetexts .comp-linet__top .comp-linet__text:first-child {
        margin-top: 100px;
    }

    .company-slidersect,
    .company-characteristics {
        padding: 0 45px;
    }

    .company-machinery .slick-next.slick-arrow,
    .company-project__slider .slick-next.slick-arrow {
        right: -30px;
    }

    .company-machinery .slick-prev.slick-arrow,
    .company-project__slider .slick-prev.slick-arrow {
        left: -30px;
    }

    .company__post .row {
        margin-left: 0;
        margin-right: 0;
    }

    .company__post .row .col-lg-6,
    .company__post .row .col-lg-5 {
        padding-left: 0;
        padding-right: 0;
    }

    .tabs_title span {
        width: 98px;
    }
}

@media(max-width:414.8px) {

    .footer__topsect {
        padding: 18px 20px 15px 20px;
    }

    .mappop {
        max-width: 150px;
    }
}



@media(max-width:360.8px) {
    .container-sect {
        padding: 0 15px;
    }

    .about__linetexts-top span {
        padding-right: 30px;
    }

    .about__linetexts-bottom span {
        padding-left: 30px;
    }

    .about__linetexts-top span:after,
    .about__linetexts-bottom span:after {
        width: 20px;
    }

    .abvtext .title {
        font-size: 30px;
    }

    .geograph-projlink {
        font-size: 18px;
    }

    .geograph-projlink {
        height: auto;
    }

    .about {
        padding-bottom: 0;
    }

    .company__post-pic .colorbox {
        width: calc(100% - 15px);
        height: 200px;
    }

    .company__post-pic .picbox {
        width: calc(100% - 15px);
        margin-top: 15px;
        height: 200px;
    }

    .company-project__slider {
        width: calc(100% - 90px);
    }

    .company-project__slider .company-project__slide {
        padding: 10px;
    }

    .company-project__slider .slick-slide.slick-current .company-project__slide .descrbox .title {
        font-size: 15px;
    }

    .tabs_title span {
        margin: 0 5px 0 0;
        width: 85px;
    }

    .tabcontenblock {
        padding: 0 15px;
    }

    .company__posts {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* fz */
    .news h3,
    .about .genh3 {
        font-size: 32px;
    }

    .diract__titlebox .title {
        font-size: 18px;
    }

    .abvtext .subtitle,
    .abvtext .descr p {
        font-size: 16px;
    }

    .company-firstscreen>p {
        font-size: 42px;
    }
}

















/* - */
@media(max-width:991.8px) and (min-width:767px) and (max-height:900px) {
    .header__nav ul {
        padding: 50px 0;
    }
}

@media(max-width:991.8px) and (min-width:767px) and (max-height:800px) {
    .header__nav ul {
        padding: 20px 0;
    }

    .header__nav ul li a {
        padding: 15px 2px;
    }

    .header__nav ul li a {
        font-size: 20px;
    }

    .maintopslider,
    .maintopslider .slick-slide,
    .mainslider,
    .mainvideo,
    .header__nav {
        min-height: 650px;
    }
}